<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="mone.css">

    <title>LOGIN</title>
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo">
                <img src="https://tailwindcss.com/_next/static/media/tailwindcss-mark.3c5441fc7a190fb1800d4a5c7f07ba4b1345a9c8.svg" alt="">
            </div>
            <div class="menu-list">
                <a href="#">Dashboard</a>
                <a href="#">Team</a>
                <a href="#">Projects</a>
                <a href="#">Calendar</a>
            </div>
        </div>
        <div class="account">
            <a href="#"><i class="bi bi-bell"></i></a>
            <a href="#"><i class="bi bi-person-circle"></i></a>
        </div>
    </header>
    <div class="content">
        <div class="logo">
            <img src="https://tailwindcss.com/_next/static/media/tailwindcss-mark.3c5441fc7a190fb1800d4a5c7f07ba4b1345a9c8.svg" alt="">
        </div>
        <h3>Sign in to your account</h3>
        <div class="input-form">
            <label for="">Username</label>
            <input type="text">
        </div>
        <div class="input-form">
            <label for="">Email address</label>
            <input type="text">
        </div>
        <div class="input-form">
            <label for=""><P>Password</P><a href="">Forgot password?</a></label>
            <input type="text">
        </div>
        <button>Sign in</button>
        <p>Not a member? <a href="" class="start-account">Start a 14 day free trial</a></p>
    </div>
</body>
</html>